.footer{
  margin:-20px;
  margin-right: -20px;
  margin-top: 20px;
  text-align: center;

}
.card
{
box-shadow: none !important;
background:  #a3bb03 !important;
}
.footer .arriba{
  background: #a3bb03;
  padding-left: 10px;
  margin-right: 10px;
}
.footer .abajo{
  padding: 10px;
  background: #829602;
}

.content{
  font-size: 20px;


}
.enlace{
  font-size: 18px ;
  color:white;


}
.icono{
  font-size: 22px;
  margin-bottom: -3px;
  color:rgb(55, 36, 231)
}
.enlacex{
  padding-top: 0px;
  font-size: 18px ;
  color:white;
}
.iconos{
  font-size: 22px;
  margin-bottom: -3px;
  color:rgb(22, 236, 57)
}
.link{
  color:white  !important;
  text-decoration:none;
}
