<ion-grid class="footer" >

  <ion-row  class="arriba" >
    <ion-col size="12" size-lg="4" size-md="4" size-sm="6" >
      <ion-card class="card" color="new">
        <ion-card-header>
          <ion-card-title>A FONDO CANAL DIGITAL</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify ">
          A Fondo Canal Digital te ofrece cobertura en los diferentes horarios, y programas disponibles a traves ne nuestros medios digitales. asegurandole exito en promocion y captacion de clientes para su negocio.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="4" size-md="4" size-sm="6" >
      <ion-card class="card" color="new" >
        <ion-card-header>
          <ion-card-title>Buscanos En:</ion-card-title>
        </ion-card-header>
        <ion-card-content class="content">
          <ion-icon class="icono" slot="icon-only" name="logo-facebook"></ion-icon>
          <a class="enlace" clas href="https://www.facebook.com/afondocanaldigital/">  /afondocanaldigital

          </a>
        </ion-card-content>
      </ion-card>
    </ion-col><ion-col size="12" size-lg="4" size-md="4" size-sm="6" >
      <ion-card class="card" color="new">
        <ion-card-header>
          <ion-card-title>CONTACTOS:</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-content class="enlacex ion-text-center">
            <a class="link" href="https://api.whatsapp.com/send?phone=59161873409&text=Me%20interesa%20saber%20mas%20sobre%20el%20canal%20digital">
            <ion-icon class="iconos" slot="icon-only" name="logo-whatsapp"></ion-icon>
            61873409 Andre Humerez
            </a>
          </ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row size="12" size-lg="3" size-md="4" size-sm="6" class="abajo">
    <ion-col size="12">© 2020 Copyright: A Fondo Canal Digital</ion-col>
  </ion-row>
</ion-grid>
