
<ion-grid fixed class="todo" >
  <ion-row>
    <ion-col size="12">
      <h1>Espacio Publicitario</h1>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let item of arrayColeccion">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{item.data.descripcion}}</ion-card-subtitle>
          <ion-card-title>{{item.data.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img [src]="item.data.enlace"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
