<app-encabezado></app-encabezado>

<ion-content>
  <ion-grid fixed class="todo" >
    <ion-row>
      <ion-col size="12">
        <h1>Afondo con Andre Humerez</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <img src="../../../assets/img/humerez.gif" alt="">
    </ion-row>
  </ion-grid>
  <ion-grid fixed class="ion-padding ion-text-justify" >
    <ion-row>
      <p>Bienvenidos al programa A fondo con Andre Humerez, es un programa de análisis de la realidad de nuestro pais! sin temor a nada No te lo pierdas!!.

      </p>
    </ion-row>
  </ion-grid>
  <app-publicidad-banner></app-publicidad-banner>
  <app-afondo></app-afondo>
  <app-footer ></app-footer>
</ion-content>
