
.logo{
  height: 60px;
  margin-bottom: -3px;
}
.clogo{
  text-align: center;
  padding: 0px;
}
.icon{
  font-size: 20px;
  color: white;
}
.dolar{
  text-align: center;
}
ul#menu li {
  display:inline;
}
ul{
  margin-top: 0px;
  margin-bottom: 0px;
}
.tipo{
 color: green;
 font-size: 12px;
 font-family: 'Manrope', sans-serif;;
}
.cambio{
  font-size: 12px;
}
