<ion-header  class="ion-no-border">

  <ion-toolbar class="clogo" color="new">

    <ion-buttons slot="start">
      <ion-button class="icon" (click)="onClick()">
        <ion-icon  slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img class="logo" src="../../../assets/img/logo.png" alt="">
    <ion-buttons slot="end">
      <ion-button class="icon" (click)="onClick()">
        <ion-icon  slot="start" name="radio"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="dolar">
    <ul id="menu">
      <li><b class="tipo"> Euro: </b><b class="cambio"> 8,34 </b></li>
      <li><b class="tipo"> - Dolar: </b><b class="cambio"> 6,96</b></li>
      <li><b class="tipo"> - Peso: </b><b class="cambio"> 0,08 </b></li>

    </ul>
  </div>
</ion-header>
