<app-encabezado></app-encabezado>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <img src="../../../assets/img/portada.gif" alt="">
    </ion-row>
  </ion-grid>
  <ion-grid fixed ion-padding>
    <ion-row>
      <ion-col size-lg="6" size-xs="12"  >
        <h2>¿Que Ofrecemos?</h2>
        <div class="ion-text-justify " >
          Tenemos información de veloz, eficiencia, veraz y transparente,
           somos la red digital que innova la comunicación, tenemos investigaciones, reportajes, entretenimiento e información inmediata,
           decimos y hablamos de lo que nadie quiere hablar
          Contactanos:61873409
        </div>

      </ion-col>
      <ion-col size-lg="6" size-xs="12">
        <app-publicidad-banner></app-publicidad-banner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
